extends layout
block content    
    div.container
        h1 Dashboard
        div.row
            center
                table.table.co2-table(id="co2-table-th")
                    thead   
                        tr
                            th Carbon Monoxide in your home
                            th Carbon Monoxide recommended avg
                    tbody
                        tr
                            td=co2+" ppm"
                            td 350 to 1000 ppm
        div.row
            div.col-lg-6.col-md-12.col-xs-12
                canvas(id="contaminantsChart")
            div.col-lg-6.col-md-12.col-xs-12
                canvas(id="comparisonChart")
   
    script.        
        inside=#{JSON.stringify(insideContaminants)}
        outside=#{JSON.stringify(outsideContaminants)}      
        cChart = document.getElementById("contaminantsChart").getContext('2d');
        var contaminantsChart = new Chart(cChart, {
            type: 'bar',
            data: {
                labels: ["Ammonium", "CO","Benzene", "Toluene", "Phenol"],
                datasets: [{
                    label: '#PPM',
                    data: inside,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.5)',
                        'rgba(54, 162, 235, 0.5)',
                        'rgba(255, 206, 86, 0.5)',
                        'rgba(75, 192, 192, 0.5)',
                        'rgba(153, 102, 255, 0.5)',
                        'rgba(255, 159, 64, 0.5)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 2
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
        var comparisonChart = document.getElementById("comparisonChart").getContext('2d');
        var comparison = new Chart(comparisonChart, {
        type: 'line',
        data: {
            labels: ["Ammonium", "CO", "Benzene", "Toluene", "Phenol"],
            datasets: [{
                label: "Inside",
                data: inside,
                backgroundColor: [
                'rgba(206, 206, 83, .5)',
                ],
                borderColor: [
                'rgba(200, 99, 132, .7)',
                ],
                borderWidth: 2
            },
            {
                label: "Outside",
                data: outside,
                backgroundColor: [
                'rgba(0, 137, 132, .5)',
                ],
                borderColor: [
                'rgba(0, 10, 130, .7)',
                ],
                borderWidth: 2
            }
            ]
        },
        options: {
            responsive: true
        }
        });