doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")        
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet",href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet",href="/stylesheets/mdb.lite.min.css")
    header
      nav.navbar.fixed-top.airsense-navbar
        ul.navbar-nav.airsense-navbar
          li.nav-item
            a(href="/main")
              h3 My Account
          li.nav-item 
            a(href="/dashboard")
              h3 Dashboard
  body
    block content
    block scripts
      script(src="javascripts/jquery-3.1.1.min.js")
      script(src="javascripts/bootstrap.min.js")
      script(src="javascripts/mdb.min.js")
      script(src="javascripts/site.js")
     
